language: ruby
dist: xenial
services: mysql
sudo: required
before_script:
- bundle exec rake db:setup
script:
- bundle exec rubocop
- bundle exec rspec
before_deploy: "./compile-build"
deploy:
  provider: releases
  api_key:
    secure: nV+LnKe2+Z9zPgm2Lc1RHJ6nObOsOLYp0McR2C35A8QlS6UNrxZMNMtljVkgLcknJrsk7n3oz4lnEyzh7jG2YsWS/A8AkIuDHD1k+VuUgzEgCbT2By/YmTAVB34q+N4ILTj3Q3ES6A6/bvAEOc1dqV45tR+XaAjDAGaClXd8QQI=
  file: release.tar.gz
  file_glob: true
  skip_cleanup: true
  on:
    tags: true
    repo: sanger/unified_warehouse
    branch: traction_open_stack